x-common-env: &common-env
  # NOTE:
  #   `NODE_ENV`はcompose.yaml側で設定されます。 本番運用では上書きしないでください。
  #   ローカル開発でNODE_ENVを"development"にしたい場合は、下記のコメントを外してください。
  # NODE_ENV: "development"
  DISCORD_TOKEN: "your-discord-token-here"
  DISCORD_GUILD_ID: "your-discord-guild-id-here"
  NOTIFY_TEXT_CHANNEL_ID: "your-notify-text-channel-id-here"
  POMODORO_VOICE_CHANNEL_ID: "your-pomodoro-voice-channel-id-here"
  DETECT_STICKER_RATE: "1.0"
  AI_PROVIDER: "gemini"
  AI_MODEL: "gemini-2.5-flash"
  AI_API_KEY: "your-api-key-here"
  AI_CLOUDFLARE_ACCOUNT_ID: "your-cloudflare-account-id-here"
  AI_PROMPT_APPEND: "語調はなるべく気さくな感じで、絵文字を適度に交えて、日本語で回答してください。"

services:
  worker:
    # 開発時のみ以下を有効化する
    # image: ghcr.io/ver-1000000/butler-worker:dev
    # command: npm run dev:worker
    environment:
      <<: *common-env
    # volumes:
    #   - butler-data:/app/data
    #   - ./:/app
    #   - butler-node-modules:/app/node_modules
  web:
    # 開発時のみ以下を有効化する
    # image: ghcr.io/ver-1000000/butler-web:dev
    # command: npm run dev:web
    environment:
      <<: *common-env
    # volumes:
    #   - butler-data:/app/data
    #   - ./:/app
    #   - butler-node-modules:/app/node_modules

volumes:
  butler-data:
  butler-node-modules:
